body{
  background-color: #0D2544;
}

.custom-bg{
  background-color: #212963
}

img{
  margin-left: 20px
}

.stats-container{
  margin-left: auto;
  margin-right: 20px
}

.user-profile{
  margin-left: 20px;
}

.leftContainer{
  margin-left: 100px;
}
